* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#leftCol {
  height: 100vh;
}

#leftCol {
  position: sticky;
  top: 0;
}

.music-player {
  height: 600px;
  box-shadow: 0 40px 100px rgba(255, 255, 255, 0.1);
  padding: 30px;
  overflow: hidden;
  color: #ffffff;
}

#trackName,
#artistName {
  text-align: center;
}

#trackName {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0.4em;
}

#artistName {
  font-size: 1.4em;
  font-weight: 400;
}

#disk {
  position: relative;
  display: block;
  margin: 20px auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-position: center center;
  background-image: url('../imgs/disk.png');
  background-size: cover;
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.08);
  animation: rotation 20s linear infinite;
  animation-play-state: paused;
}

#disk.play {
  animation-play-state: running;
}

#disk::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: #212529;
  border-radius: 50%;
}

#songSlider {
  width: 100%;
  position: relative;
}

#seek-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: #cecece;
  cursor: pointer;
  overflow: hidden;
}

#seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 5px;
  height: 20px;
  z-index: 100;
  border-radius: 50%;
  background-color: green;
  box-shadow: -500px 0 0 500px #ffffff;
}

#currentTime,
#songDuration {
  font-size: 1.2em;
}

#songDuration {
  position: absolute;
  right: 0;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.btn {
  --bs-btn-border-color: none !important;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

main {
  color: white !important;
}

#btnSearch {
  position: absolute;
  left: 27%;
  top: 8px;
  padding: 0;
}

#searchBar {
  height: 40px;
}

#loadingSpinnerDiv {
  height: 70vh;
}

#loadingSpinner {
  width: 60px;
  height: 60px;
}

.card {
  background-color: #383b3d;
  height: 330px;
}

.card-title,
#trackName {
  display: -webkit-box;
  -webkit-box-direction: vertical;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
